.section {
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-margin-top: 80px;
}

.sectionContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 6rem 1.5rem 5rem;
}

.homeTitle {
  text-align: center;
  color: var(--wine-color);
  font-size: 64px;
  margin-bottom: 3rem;
}

.homeTitle span {
  visibility: visible;
  font-size: 38px;
  font-weight: 400;
}

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 35px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  scroll-margin-top: 150px;
  /* text-decoration: underline;
  text-decoration-color: var(--wine-color);
  text-underline-offset: 0.3em; */
}

.brands {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}

.subtitle {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
  line-height: 2.3rem;
  text-align: center;
}

.imgLinkContainer {
  overflow: hidden;
  width: 350px;
  height: 270px;
  position: relative;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 12px 28px 0px,
    rgba(0, 0, 0, 0.1) 0px 2px 4px 0px,
    rgba(255, 255, 255, 0.05) 0px 0px 0px 1px inset;
}
.img {
  transition: transform 0.3s;
}

.imgLinkContainer:hover img {
  transform: scale(1.05);
}

@media screen and (max-width: 480px) {
  .homeTitle {
    font-size: 46px;
  }

  .homeTitle span {
    font-size: 28px;
    line-height: 0;
  }

  /* .subtitle {
    text-align: left;
  } */

  /* .imgLinkContainer {
    width: 250px;
    height: 182px;
  } */
}
