.main {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.sectionContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 2.5rem 1.5rem;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.pageTitle {
  color: var(--wine-color);
  text-transform: uppercase;
}

.subtitle {
  font-size: 1rem;
  color: var(--wine-color);
  text-transform: uppercase;
}

.articleContainer {
  display: grid;
  grid-template-columns: 1.8fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  gap: 3rem 4rem;
  grid-auto-flow: row;
  grid-template-areas:
    'Title Image'
    'TextContainer Image'
    'Button Image';
}

/* .dansaGrid {
  grid-template-columns: 2fr 1fr;
} */

.title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 44px;
  color: var(--black);
  grid-area: Title;
  text-transform: uppercase;
}

.imageContainer {
  grid-area: Image;
  width: 100%;
  position: relative;
}

.image {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.textContainer {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.text {
  font-size: 1.2rem;
  font-weight: 400;
  line-height: 2.3rem;
  color: var(--black);
  grid-area: Text;
}

.bold {
  font-weight: 700;
}

.title {
  font-size: 1.8rem;
  font-weight: 400;
  line-height: 44px;
  color: var(--black);
  grid-area: Title;
  text-transform: uppercase;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 160px;
  background-color: var(--wine-color);
  border: none;
  /* border-radius: 5px; */
  font-size: 1.2rem;
  /* font-weight: 700; */
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  margin-top: 2rem;
  grid-area: Button;
}

/* .bottomImageContainer {
  position: relative;
  width: 100%;
  height: auto;
  margin-top: 5rem;
} */

.bottomImageContainer {
  width: 100%;
  position: relative;
}

/* .bottomImage {
  width: 100%;
  height: auto;
} */

.bottomImage {
  width: 100%;
  height: auto;
  object-fit: cover;
}

@media screen and (max-width: 768px) {
  .articleContainer {
    grid-template-columns: 1fr;
    grid-template-rows: auto 300px auto auto;
    gap: 2rem;
    grid-template-areas:
      'Title'
      'Image'
      'Text'
      'Button';
  }
}
