html {
  scroll-behavior: smooth !important;
}

:root {
  --light-wine-color: #884867;
  --wine-color: #611a41;
  --white: #ffffff;
  --black: #000000;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

header {
  position: sticky;
  top: 0;
  z-index: 100;
}

main {
  min-height: calc(100vh - 80px);
}

footer {
  background-color: var(--wine-color);
  width: 100%;
  display: flex;
  justify-content: center;
}
