.section {
  width: 100%;
  display: flex;
  justify-content: center;
  /* background-color: var(--wine-color); */
  scroll-margin-top: 80px;
}

.sectionContainer {
  width: 100%;
  max-width: 1200px;
  padding: 5rem 1.5rem;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.2fr 1fr 0.2fr;
  gap: 3rem 4rem;
  grid-auto-flow: row;
  grid-template-areas:
    'Title Image'
    'Text Image'
    'Button Image';
}

/* .textContainer {
  display: flex;
  flex-direction: column;
  gap: 3rem;
  flex: 1;
} */

.imageContainer {
  position: relative;
  grid-area: Image;
}

.image {
  object-fit: cover;
}

/* .titleWrapper {
  width: fit-content;
  border-left: 5px solid var(--white);
  padding-left: 10px;
} */

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 35px;
  color: var(--black);
  grid-area: Title;
  text-transform: uppercase;
  /* text-decoration: underline;
  text-decoration-color: var(--white);
  text-underline-offset: 0.3em; */
}

.text {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--black);
  line-height: 2.3rem;
  grid-area: Text;
}

.button {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 160px;
  background-color: var(--wine-color);
  border: none;
  /* border-radius: 5px; */
  font-size: 1.2rem;
  /* font-weight: 700; */
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  grid-area: Button;
}

@media screen and (max-width: 480px) {
  .sectionContainer {
    grid-template-columns: 1fr;
    grid-template-rows: 0.1fr 1fr 0.2fr;
    gap: 3rem;
    grid-template-areas:
      'Title'
      'Image'
      'Text'
      'Button';
  }

  .title {
    text-align: center;
  }
}
