.sectionContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  align-items: center;
  padding: 4rem 1.5rem 2.5rem 1.5rem;
}

.firstColumn {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  height: 100%;
  gap: 2rem;
  width: 33.33%;
}

.socialIcons {
  display: flex;
  gap: 1rem;
}

.columnTwoAndThree {
  display: flex;
  flex-grow: 1;
  justify-content: space-between;
  align-items: flex-end;
  width: 33.33%;
}

.secondColumn {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 4rem;
  width: 50%;
}

.copyText {
  color: var(--white);
  font-size: 14px;
  line-height: 22px;
  text-align: center;
}

.thirdColumn {
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
  gap: 1.5rem;
  width: 50%;
}

.privacyLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}

.privacyLinks a {
  color: var(--white);
  font-size: 14px;
  line-height: 22px;
}

.imageContainer {
  position: relative;
  width: 315px;
  height: 140px;
}

.wineModerationContainer{
  display: flex;
  gap: 0.5rem;
}

.wineModerationContainer p{
  color: var(--white);
  font-size: 12px;
  margin-top: 10px;
}

@media screen and (max-width: 768px) {
  .sectionContainer {
    flex-direction: column;
    gap: 3rem;
  }
  .firstColumn {
    width: 100%;
    justify-content: center;
    align-items: center;
  }

  .secondColumn {
    width: 100%;
    justify-content: center;
    align-items: center;
    padding: 0 1.5rem;
  }
  .columnTwoAndThree {
    width: 100%;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
    gap: 3rem;
  }

  .thirdColumn {
    width: 100%;
    align-items: center;
    gap: 1rem;
  }

  .privacyLinks {
    align-items: center;
    gap: 0.25rem;
  }

  .wineModerationContainer{
    flex-direction: column;
    align-items: center; 
  }

  .wineModerationContainer p{
    margin-top: 0;
  }

  .wineModerationContainer p br{
    display: none;
  }

}
