.section {
  width: 100%;
  display: flex;
  justify-content: center;
  scroll-margin-top: 80px;
}

.sectionContainer {
  width: 100%;
  max-width: 1200px;
  display: flex;
  flex-direction: column;
  gap: 3rem;
  padding: 5rem 1.5rem;
}

/* .titleWrapper {
  width: fit-content;
  border-left: 5px solid var(--wine-color);
  padding-left: 10px;
} */

.title {
  font-size: 2rem;
  font-weight: 700;
  line-height: 35px;
  color: #000;
  text-align: center;
  text-transform: uppercase;
  /* text-decoration: underline;
    text-decoration-color: var(--wine-color);
    text-underline-offset: 0.3em; */
}

.cards {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 3rem;
}
.buttonContainer {
  display: flex;
  justify-content: center;
  align-items: center;
}
.button {
  all: unset;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.5rem 1rem;
  width: 160px;
  background-color: var(--wine-color);
  border: none;
  /* border-radius: 5px; */
  font-size: 1.2rem;
  /* font-weight: 700; */
  color: var(--white);
  text-decoration: none;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 768px) {
  .cards {
    flex-direction: column;
  }
}
