.mobileMenu {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 5rem;
  height: calc(100vh - 80px);
  background-color: var(--wine-color);
  z-index: 100;
  padding: 5rem 0;
  animation: appear 0.3s ease-in-out;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}


.list {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
}

.list a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  font-size: 1.7rem;
}

.languageContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

/* .languageContainer span {
  color: var(--white);
}
 */
.languageContainer a {
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
  font-size: 1.5rem;
  border: 2px solid white;
  padding: 0.2rem 0.7rem;
}
